@import "buttons";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif\;;
}

header,
main {
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  color: navy;
  font-size: 7rem;
  line-height: 6.3rem;
}

h2,
li,
p {
  color: #f4f4f4;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.contenitoreViola {
  background-color: #640fc5;
}
#flexList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
li {
  margin-right: 2rem;
  font-size: 1.3rem;
  list-style-type: none;
}

.btnSezione {
  @include myButton;
}
#btn1 {
  background-color: #0e6cff;
}
#btn2 {
  background-color: #ff8700;
}
#btn3 {
  background-color: #4caf50;
}

header {
  margin-bottom: 8rem;
}

#flexPhoto {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
#flexPhoto img {
  width: 25rem;
  height: 25rem;
  border-radius: 15px;
  overflow: hidden;
}
